html.is-spatial,
html.is-spatial #root,
html.is-spatial .min-h-screen {
  background-color: transparent !important;
  --xr-background-material: transparent !important;
  --background: transparent !important;
}